<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Neurotic Sue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
        
    </head>
    <body>
    	<div id="container" class="container">
	    	<h1 id="headline">Neurotic Sue <span class="glyphicon glyphicon-refresh"></span></h1>	    	
    		<div id="urls">
		    	<h2><small>
		    		Checks a page for changes every 59 seconds. Plays a song to let you know.</small></h2>
		    	<form id="form" role="form">
					  <div class="form-group">
					    <label for="urlToCheck">Page to check</label>
					    <input type="url" class="form-control" id="urlToCheck"
					    	placeholder="Enter link to the page that will be checked" required>
					  </div>
					  <div class="form-group">
					    <label for="songToPlay">Song to play</label>
					    <input type="url" class="form-control" id="songToPlay"
					    	placeholder="Enter link to a YouTube video to play when the page changes" required>			    
					  </div>
	  				<button type="submit" class="btn btn-primary">Start</button>
		    	</form>
	    	</div>
	    	<div id="checker">
	    		<div style="margin-bottom: 20px;">
		    		<h2><small id="status"></small></h2>
	  				<button id="stop" type="button" class="btn btn-primary">Stop</button>
 					</div>
	    		<div id="player"></div>
	    	</div>
    	</div>
    	
			<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    	
    	<script>
    		var CountdownInit = 59;
    		
    		var countdown = 0;
    		var encodedUrlToCheck = null;
    		var timerId = null;
    		var baseline = 0;
    		 
    		function setStatus(status) {
					var d = new Date();
					var hr = d.getHours();
					var min = d.getMinutes();
					if (min < 10) {
					    min = "0" + min;
					}
     			status = hr + ':' + min + ' ' + status 
        	$('#status').html(status);
    		}

    		function setError(status) {
    			setStatus(status);
    		}

    		function setHeadline(add) {
        		var headline = 'Neurotic Sue';
        		if (add != null) {
        			headline += add;
        		}
    			$('#headline').html(headline);
    		}

    		function timerHandler() {
    			setHeadline(' <span class=\'glyphicon glyphicon-refresh\'></span> ' + countdown);
    			countdown--;

    			if (countdown == 0) {
        		// Stop counting for a while
    				window.clearInterval(timerId)
    				
    				ajaxCheck(encodedUrlToCheck, baseline, function(data) {
        				if (!data.hasChanged) {
           				console.debug('No change.');

           				if (data.lastError == null) {
            				setStatus('Page checked. No changes.');
           				}
           				else {
            				setStatus(data.lastError);
           				}
           				
	        				// Start timer again
	        				resetTimer();
        				}
        				else {
        					pageHasChanged(data);			
        				}
    				});
    			}
    		}

    		function pageHasChanged(data) {
    			setStatus('Page has changed!');
    			setHeadline(' <span class=\'glyphicon glyphicon-exclamation-sign\'></span>');    			
	     		document.title = '!!! ' + document.title;
	     		$('body').css('background-color', '#FF0000');	     		
    			
	     		console.debug('Page has changed!. [' + data.baseline + ']');	
	     		if (player != null) {
	     			player.setVolume(100);
		     		player.playVideo();
	     		}     
    		}

    		function resetTimer() {
	 				countdown = CountdownInit;
	 				timerId = window.setInterval(timerHandler, 1000);
    		}

    		function ajaxCheck(encodedUrl, baselineValue, successHandler) {
        	console.debug('Checking [' + baselineValue + '] ' + encodedUrl);
    			jQuery.ajax({
    			    type: "GET",
    			    url: 'check/' + encodedUrl,
    			    dataType: 'json',
    			    data: { baseline: baselineValue},
    			    success: function(data) {
   	       			if (data.error == null) {
    			    		successHandler(data);
   	       			}
   	       			else {
   	         			setError(data.error);
   	       			}
    			    },
    			    error: function(XMLHttpRequest, textStatus, errorThrown){
    			    	console.error(textStatus, errorThrown);
    			    	setError('Sorry. Page could not be checked. Come back again later.');
    			    }
    			});
    		}

    		function getBaseline() {
    			setStatus('Getting baseline...');
    			ajaxCheck(encodedUrlToCheck, null, function(data) {
     			  console.debug('Baseline: ' + data.baseline);
      			baseline = data.baseline;
 						setStatus('Baseline retrieved.');
	   				resetTimer();
			    });
    		}

    		function start() {
    			encodedUrlToCheck = encodeURIComponent($("#urlToCheck").val());
    			getBaseline();
    		}

    		function stop() {
       		// Stop counting for a while
					window.clearInterval(timerId)
					
					$('#urls').show();
					$('#checker').hide();
					setHeadline(' <span class=\'glyphicon glyphicon-refresh\'></span>');

					countdown = 0;
					encodedUrlToCheck = null;
					timerId = null;
					baseline = 0;
    		}

    		$('#stop').click(stop);
    	</script>
    	<script>
				var youTubeReady = false;
				var maxWidth = 640;
				var player = null;
				
    		function initYouTube() {
					tag = document.createElement('script');	
					tag.src = "https://www.youtube.com/iframe_api";
					
					firstScriptTag = document.getElementsByTagName('script')[0];
					firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    		}
	
				function onYouTubeIframeAPIReady() {
					youTubeReady = true;
				}

				function createPlayer(songToPlayId) {
					if (!youTubeReady) {
						console.error('YouTube player is not ready!');
						return;
					}
					
					player = new YT.Player('player', {
				    height: '390',
				    width: maxWidth,
	          videoId: songToPlayId
					});
				}

				function getVideoId(url) {
					var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
					var match = url.match(regExp);
					if (match&&match[2].length==11){
					    return match[2];
					} else {
						return null;
					}
				}

				function validateUrl(url) {
				  var urlregex = new RegExp(
				        "^(http:\/\/www.|https:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
				  return urlregex.test(url);
				}

				$(function() {
					$('#form').on('submit', function(e) {
						e.preventDefault();

						// Hide form, show checker
						$('#urls').hide();
						$('#checker').show();

						// Get YouTube video ID
						var songToPlay = $("#songToPlay").val();
		        var songToPlayId = getVideoId(songToPlay);
		        if (songToPlayId == null) {
							console.error('Cannot get YouTube video ID from URL! [' + songToPlay + ']');
							return;
		        }

		        // Validate page URL
		        var urlToCheck = $("#urlToCheck").val();
		        if (!validateUrl(urlToCheck)) {
							console.error('Not a valid URL! [' + urlToCheck + ']');
			        return;
		        }

		        // Create player with the song loaded
		        createPlayer(songToPlayId);

		        // Start neurotic Sue!
		        start();
					});
				});

				$(window).resize(function() {
					var newWidth = $('#container').width();
					if (newWidth > maxWidth)
						newWidth = maxWidth;
					
					var player = $('#player');
					var aspectRatio = player.height / player.width;
					
					player.width(newWidth).height(newWidth * aspectRatio);
			  }).resize();

				// Initialize YouTube
				initYouTube();
				$('#checker').hide();
			</script>
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				
				ga('create', 'UA-6248997-6', 'neuroticsue.com');
				ga('send', 'pageview');				
			</script>
    </body>
</html>
